$icon-size-data: (
  small: rem(16px),
  medium: rem(24px),
  large: rem(32px),
  x-large: rem(48px)
);

@mixin icon-size($value) {
  @if map-has-key($icon-size-data, $value) {
    font-size: #{map-get($icon-size-data, $value)};
  } @else {
    @warn '#{$value} is not a valid elevation name.';
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@mixin material-icon-theme($theme) {

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: get-color($theme, 'secondary');

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

}


