$space-unit: 4px;

$spacing-data: (
  none: 0,
  2xs: rem($space-unit),
  xs: rem($space-unit * 2),
  sm: rem($space-unit * 3),
  md: rem($space-unit * 4),
  lg: rem($space-unit * 6),
  xl: rem($space-unit * 8),
  2xl: rem($space-unit * 10),
  3xl: rem($space-unit * 12)
);

@function spacing($value: md) {

  $fetched-value: map-get($spacing-data, $value);

  @if type-of($fetched-value) != null and type-of($fetched-value) == number {
    @return $fetched-value;
  } @else {
    @error 'Spacing variant `#{$value}` not found.';
  }
}

@function spacing-element($element, $value: md) {

  //
  $fetched-value: map-get($spacing-data, $value);
  $length: font-size($element);

  @if type-of($fetched-value) == number and type-of($length) != null {
    @return ($length / 1rem) * $fetched-value;
  } @else {
    @error 'Spacing variant `#{$value}` not found.';
  }
}
