

@function create-theme($primary-color, $secondary-color, $font: null, $isLight: true) {

  $theme: (
    brand-primary-color: $primary-color,
    brand-secondary-color: $secondary-color,
    status-color: $gvs-support-colors,
    background: if($isLight, $gvs-light-background, $gvs-dark-background),
    foreground: if($isLight, $gvs-light-foreground, $gvs-dark-foreground),
    visualization: $gvs-visualization-colors,
    font: $font,
    icons: $font
  );

  @return $theme;
}
