@import 'phoenix/styles';

.app-store-container {

  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: spacing(lg);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 36px 48px auto;
  justify-content: center;
  grid-gap: spacing(sm) spacing(sm);

.store__title {
  text-align: center;
  height: 30px;
}

.store__sub-title {
  text-align: center;
  height: 48px;
  width: 710px;
  padding-left: 100px;
  padding-right: 100px;
}

.app-store-card-container {
  width: 710px;
}

}
