<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">

  <div class="app-container__div header-container">
   <!--  <header class="header">

        <div class="m-header-left">
            <svg class="a-header-left__logo" style="width: 48px; height: 48px">
                <use xlink:href="assets/images/md-eye-symbol.svg#eye"></use>
              </svg>
              <hr>
              <span> Product Name</span>
        </div>
    </header>-->
  </div>
  <div class="app-container__div main-container">

      <router-outlet></router-outlet>

  </div>
</div>
