@import 'phoenix/styles';

.app-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px auto;
  grid-gap: 0 spacing(sm);
  height: calc(100vh);
  width: calc(100vw);
  min-width: 710px;
  min-height: 460px;
}

.app-container__div {
  text-align: center;
}

.header-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: spacing(none) spacing(lg);
}

.company__logo {
  width: 100px;
}

.main-container {
 padding: 0 0;
 height: calc(100vh - 170px);
}

.footer-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.header-line {
  height: 46px;
  margin: 0 spacing(sm);
}

.padded-icons {
  padding: spacing(xs);
}

.theme-icon {
  cursor: pointer;
}
