.app-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px auto 30px;
  grid-gap: 10px 10px;
  padding: 0;
  height: calc(100vh);
  width: calc(100vw);
  min-width: 600px;
  min-height: 400px;
}

.app-container__div {
  text-align: center;
}

.header-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 24px;
}

.main-container {
 padding: 0 24px;
}

.footer-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #2196F3;  //will go to skin class
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.header-line {
  height: 46px;
  margin: 0 10px;
}

.padded-icons {
  padding: 8px;
}
