<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">

  <div class="app-container__div header-container">
    <header class="header">

      <div class="header-left">

        <img class="company__logo" src="../assets/svgs/{{logo}}" />
        <!-- <svg class="a-header-left__logo" style="width: 48px; height: 48px">
          <use xlink:href="assets/svgs/guavus-light.svg"></use>
        </svg> -->
        <hr class="vertical-line header-line">
        <span class="app__title">Reflex Analytic Fabric</span>
      </div>
      <div class="header-right">
        <i class="material-icons padded-icons theme-icon" (click)="onThemeButtonClick($event)">format_color_fill</i>
        <i class="material-icons padded-icons">notifications</i>
        <label class="avatar-name">Rasmiranjan Nayak</label>
        <i class="material-icons ingestion-icon">arrow_drop_down</i>
        <i class="material-icons ingestion-icon">account_circle</i>
      </div>
    </header>
  </div>
  <main class="app-container__div main-container">

    <router-outlet></router-outlet>

  </main>
</div>
