// a/m/o-block__element--modifier
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// regular button
.raised__button {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: spacing(12px, xs);
  outline: none;
}

.icon__button {
  outline: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

// popup button

// input

// dropdown
