@import './phoenix.skin';
@import '../app/app.component';
@import './phoenix.normalize';

@import '../phoenix/styles';

@import './phoenix.structure';

@import '../app/app.skin';
@import '../app/app-store/app-store.skin';
@import '../app/ingestion-app/ingestion-app.skin';




$gvs-blue: create-palette(#1A73E6);
$gvs-orange: create-palette(#FF8300);

$dark-theme: create-theme($gvs-blue, $gvs-orange, null, false);

$light-theme: create-theme($gvs-blue, $gvs-orange, null, true);

@mixin gvs-theme($theme) {

  $primary-color: map-get($theme, brand-primary-color);
  $secondary-color: map-get($theme, brand-secondary-color);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $visualization: map-get($theme, visualization);
  $status: map-get($theme, status-color);

   @include phoenix-theme($theme);
   @include material-icon-theme($foreground);
   @include header-container-theme($background);
   @include main-container-theme($background);
   @include ingestion-app-theme($background, $foreground, $status);
   @include app-store-theme($foreground);

}

@include gvs-theme($light-theme);

.light-theme-phoenix {
  @include gvs-theme($dark-theme);
}




