@import '../app/dialog/dialog.skin';
@import '../app/gvs-button-bar/gvs-button-bar.skin';
@import '../app/gvs-card/gvs-card.skin';

// body
@mixin body-theme($theme) {

  body {
    background-color: map-get($theme, darker);
    font-size: font-size('body');
    font-family: font-family();
  }
}

// regular button
@mixin raised__button-theme($theme) {

  .raised__button {

    @include elevation(bound);

    color: get-accent-color(get-color($theme, lighter));
    font-weight: font-weight('regular');
    font-size: font-size('button');
    background-color: get-color($theme, lighter);

    &:hover {
       background-color: get-state-color(get-color($theme, lighter), hover);
    }
  }
}

@mixin secondary__button-theme($theme) {

  .secondary__button {

    color: get-accent-color(get-color($theme, lighter));
    font-weight: font-weight('regular');
    font-size: font-size('button');
    border: 1px solid get-color($theme, lighter);
  }
}


// button with icon
@mixin icon-button-theme($theme, $color) {

    .icon__button {

      background-color: get-color($theme, dark);
      border: none;
      color: get-accent-color(get-color($theme, dark));
      font-size: font-size('button-large');

      .material-icons {
        font-size: font-size('button-large');
        vertical-align: top;
        color: get-accent-color(get-color($theme, dark));
      }

      &:hover {
        background-color: get-state-color(get-color($theme, lighter), 'hover');
      }
  }
}

@mixin hbox-theme($theme) {

  .hbox {
    display: flex;
    flex-direction: row;
  }
}

@mixin vbox-theme($theme) {

  .vbox {
   display: flex;
   flex-direction: column;

  }
}

@mixin horizontal-line-theme($theme) {

  .horizontal-line {
    border: 0;
    height: 1px;
    background-color: get-color($theme, secondary);
    opacity: 0.3;

  }
}

@mixin vertical-line-theme($theme) {

  .vertical-line {
    opacity: 0.3;
    margin: spacing(none) spacing(xs);
    border:         none;
    border-left:    1px solid get-color($theme, secondary);
    width:          1px;
  }
}

@mixin app-title-theme($theme) {

  .app__title {
    font-size: font-size('heading');
    color: get-color($theme);
    line-height: line-height('heading');
  }
}

@mixin avatar-name-theme($theme) {

  .avatar-name {
    font-size: font-size('display-medium');
    color: get-color($theme);
    line-height: line-height('display-medium');
  }
}


// popup button

// input

// dropdown


@mixin  phoenix-theme($theme) {

  $primary-color: map-get($theme, brand-primary-color);
  $secondary-color: map-get($theme, brand-secondary-color);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $status: map-get($theme, status-color);

  @include body-theme($background);
  @include icon-button-theme($primary-color, $foreground);
  @include raised__button-theme($primary-color);
  @include gvs-card-theme($background, $foreground);
  @include button-bar-theme($background, $foreground);
  @include horizontal-line-theme($foreground);
  @include vertical-line-theme($foreground);
  @include app-title-theme($foreground);
  @include avatar-name-theme($foreground);
  @include gvs-dialog-theme($status);
}
