.ingestion-app-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

.ingestion-app-sub-header {
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: space-between;
  margin: 10px 0;
}

.center-container {
  display: table-cell;
}

.horizontal-container {
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

.ingestion-icon {
  vertical-align: top;
  padding-right: 8px;
}


