@import 'phoenix/styles';

.ingestion-app-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    padding: spacing(none) spacing(lg);
    align-items: center;
}

.ingestion-app-sub-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  padding: spacing(lg) spacing(lg);
  align-items: center;
}

.ingestion-app-body-container {
  padding: spacing(lg) spacing(lg);
  overflow-y: scroll;
  height: 100%;
}


.center-container {
  display: table-cell;
}

.horizontal-container {
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

.ingestion-icon {
  vertical-align: top;
  padding-right: spacing(xs);
}

.grid-view {
  width: 100%;
  height: 500px;
}

.data-grid-container {
  height: 550px;
  overflow: scroll;
}

.dialog-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  .dialog__icon {
    width: 48px;
  }

  .dialog__label {
    text-align: left;
    padding-left: spacing(md);
  }
}



