<div class="card-container" (click)="handleCardClick($event)">

  <div class="card-icon-container" [ngStyle]="{'background-color': data.bgColor}">
      <i class="material-icons card-icon">{{data.iconClass}}</i>
  </div>
  <div class="card-label-container">
      <div class="card__title card-text">{{data.name}}</div>
      <div class="card__sub-title card-text">{{data.desc}}</div>
  </div>

  <div class="card-footer-container" *ngIf="data.data && data.data.status && data.data.status != ''">
    <div>
        <label class="card-footer__label">status:</label>
        <label class="card-footer__label status" [ngStyle]="{'color': getStatusColor(data.data.status)}"> {{data.data.status}}</label>
    </div>

    <i class="material-icons">more_vert</i>
  </div>
</div>
