@import 'phoenix/styles';

.card-container {
  width: 212px;
  height: 260px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-height: 600px) {
  .card-container {
    width: 212px;
    height: 140px;

    .card-icon-container {
      display: none;
    }
  }
}

.card-icon-container {
  height: 120px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.card-text {
  text-align: left;
}

.card-label-container {
  padding: spacing(sm);
  display: grid;
  grid-template-rows: 20px auto;
  grid-row-gap: spacing(2xs);

}

.card-footer-container {
  padding: spacing(none) spacing(sm);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


